<a href="https://colab.research.google.com/github/Hoooooou-Jun/DEEEEEEPLearing_Colab/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# • Python 데이터 처리를 위한 라이브러리
# • 행과 열로 이루어진 데이터 객체를 만들어서 안정적으로 대용량의 데이터
# 를 처리하는데 편리
# • Python을 이용한 데이터 분석 작업의 필수 라이브러리
# • head/tail : 처음/마지막 n줄의 데이터 출력 • pop:데이터의선택과제거
# • insert : 데이터의 삽입
# • loc/iloc : 레이블/위치정수 기반 인덱싱
# • sample : 무작위 추출
# • drop:특정레이블데이터제거
# • take:데이터의행이나열을추출
# • isna/notna : 데이터 내의 결측값을 확인하여 그 결과를 반환(T/F) • dropna/fillna : 결측값(N/A)을 제거/채움
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [6]:
# Series(1차원)
ld = ['2019-01-02', 3.14, 'ABC', 100, True]
sd = pd.Series(ld)
print(sd)

sd = pd.Series(ld, index=['A', 'B', 'C', 'D', 'E'])
print(sd)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
A    2019-01-02
B          3.14
C           ABC
D           100
E          True
dtype: object

In [26]:
# DataFrame(2차원)
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))
print(df.shape)
print(len(df.index))

(2, 3)
2

In [20]:
# 행 삭제
exam = {"A":[90, 80, 70], "B":[98, 89, 95], "C":[85, 95, 100], "D":[100, 90, 90]}
df = pd.DataFrame(exam, index=['Kim','Lee', 'Park'])
df.head()
df.tail()

df2 = df.copy()
df2.drop('A', axis=1, inplace=True)

df3 = df.copy()
df3.drop(['A', 'C'], axis=1)

       B    D
Kim   98  100
Lee   89   90
Park  95   90

In [21]:
# 데이터프레임 인덱싱
df2 = df.copy()

df2.loc['Kim']
df2.loc[:, ['A', 'C']]

df2.iloc[0]
df2.iloc[-1]
df2.iloc[0, -1]
df2.iloc[0, [1, 2]]

B    98
C    85
Name: Kim, dtype: int64

In [22]:
# 결측값 확인
col = ['C1', 'C2', 'C3', 'C4']
row = ['R1', 'R2', 'R3']
data = [[1, 2, pd.NA, 4],
        [np.nan, 6, 7, 8],
        [9, 10, 11, None]]
df = pd.DataFrame(data, row, col)
df.isna()
df['C1'].isna()
df.isna().sum()
df.dropna()
df.dropna(axis=1)

    C2
R1   2
R2   6
R3  10